<% @booked_pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <% @booked_pets_sorted = pet.bookings.sort_by {|booking| booking.start_date} %>
  <% @booked_pets_sorted.each do |booking| %>
    <%= render 'components/booking_card', booking: booking %>
  <% end %>
<% end %>
