<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502031176098-2e91ccc16e59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Rent Exotic Pets</h1>
    <p>Experience the thrill of having an exotic animal in your own backyard</p>
    <%= link_to "Browse pets", pets_path, class: "btn btn-flat" %>
    <%= link_to "Create an account", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
