<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/HYSolo/rent-exotic-pets"><i class="fab fa-github"></i></a>
    <a href="https://trello.com/b/GqFclMk4/rent-exotic-pets"><i class="fab fa-trello"></i></a>
  </div>
  <div class="footer-copyright">
    Brought to you by Team Releasy
  </div>
</div>
