// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #ffffff;
// $light-gray: #F4F4F4;

/* SCSS RGB */
$ming: rgba(64, 112, 118, 1);
$light-gray: rgba(205, 215, 214, 1);
$rich-black-fogra-39: rgba(12, 18, 12, 1);
$maximum-green: rgba(103, 148, 54, 1);
$safety-orange-blaze-orange: rgba(254, 95, 0, 1);
$peacock-blue: rgba(0, 94, 139, 0.8);
