<div>
<% case pet.species.downcase %>
<% when 'tiger' %>
  <h2>🐯</h2>
<% when 'crocodile || alligator' %>
  <h2>🐊</h2>
<% when 'monkey' %>
  <h2>🐵</h2>
<% when 'lion' %>
  <h2>🦁</h2>
<% when 'giraffe' %>
  <h2>🦒</h2>
<% when 'gorilla' %>
  <h2>🦍</h2>
<% when 'leopard' %>
  <h2>🐆</h2>
<% when 'rhinoceros' %>
  <h2>🦏</h2>
<% when 'snake' %>
  <h2>🐍</h2>
<% when 'lizard' %>
  <h2>🦎</h2>
<% when 'bear' %>
  <h2>🐻</h2>
<% else %>
  <h2>😺</h2>
<% end %>
</div>
