<div class="container mt-3">
  <h1>My Bookings</h1>
  <div class="bookings">
    <% @bookings.sort_by { |booking| booking.start_date }
    .each do |booking| %>
      <%= render 'components/booking_card', booking: booking %>
    <% end %>
  </div>
</div>
